@import "../variables";
@import "../mixins/mixins";

.footer {
  min-height: 120px;
  grid-row: 13/14;
  grid-column: 1/8;
  @include flexbox(
    $direction: row,
    $wrap: nowrap,
    $justify: center,
    $align: center
  );
  background-color: var(--third-color);
}

@include from(sm) {
  .footer {
    grid-column: 1/13;
    grid-row: 13/14;
  }
}
