@import '../variables';
@import '../placeholder/placeholders';
@import '../mixins/mixins';


.header {
  position: relative;
  min-height: 100px;
  max-height: 150px;
  grid-column: 1/8;
  grid-row: 1;
  @include flexbox($direction: row, $wrap: nowrap, $justify: center, $align: center);
  background-color: var(--third-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@include from(sm) {
  .header {
    grid-column: 1/13;
    grid-row: 1;
  }
}
