@import './variables';
@import './mixins/mixins';
@import './placeholder/placeholders';

* {
  margin: 0;
}

body {
  background-color: var(--primary-color);
  width: 100vw;
  height: max-content;
}

#root {
  position: relative;
  @include grid($rows: auto repeat(12, auto), $columns: 9vw repeat(6, 14vw), $gap: 5px)
}


img {
  border-style: none;
}

h1, h2 {
  color: var(--title-color);
}

.main-content {
  position: relative;
  grid-column: 2/7;
  grid-row: 2/12;
}


@include from(sm) {
  body {
    height: 100vh;
  }

  #root {
    @include grid( $columns: repeat(12, 8.3vw), $gap: 10px)
  }

  .main-content {
    grid-column: 2/11;
    grid-row: 2/9;
  }
}
